<!doctype html>
<html lang="fr">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <figure class="-right">
          <img src="{{ "/images/identity.jpg" | prepend: site.baseurl }}">
          <p>Credit: Lê Bình Tú (<a href="http://www.lebinhtu.com" target="_blank">www.lebinhtu.com</a>)</p>
        </figure>
        {% if page.title %}
        <h1>{{ page.title }}</h1>
        {% endif %}
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
